.footer__link{
    color: #000000;
    transition: 0.3s all ease-out;
}
.footer__link:hover{
background-color: #00ffff;
border-radius: 10px;
padding: 5px 10px;
}
.footer__list{
    display: flex;
    justify-content: center;
    gap: 50px;
}